# intellij files
*.iml
.idea
src
out
META-INF

# tex files
*.aux
*.log
*.gz
*.tex

# compiled class files
*.class

# user folders
output
experiments/
venv

# tutorial files
tutorial/*.dat
tutorial/plots/*.eps

# datasets
data/language_net.dat

# compiled jar file causing conflicts
feta3-1.0.0.jar

