# intellij files
*.iml
.idea
src
out
META-INF

# tex files
*.aux
*.log
*.gz
*.tex
feta_documentation.pdf

# compiled class files
*.class

# user folders
output
experiments/
venv

# tutorial files
tutorial/*.dat
tutorial/plots/*.eps

# datasets
data/language_net.dat
data/cit-HepPh.txt
data/citations.feta

# compiled jar file causing conflicts
feta3-1.0.0.jar